fastmcp
fastapi
aiosqlite
pdfplumber
sqlite-vec
asyncio
pytest
pytest-asyncio
pytest-cov
black
mypy
ruff
requests
gradio[mcp]
textblob
langchain
langchain-chroma
langchain-openai
langgraph
langchain-mcp-adapters
pygraphviz
chromadb
pypdf
pymupdf
pdfplumber
load_dotenv
